.header{
  width:80;
  padding-left:10%;
  padding-right:10%;
  height:125px;
  line-height:120px;
}

.header .headLeft{
  width:50%;
  float:left;
  height:120px;
}

.header .headRight{
  width:50%;
  float:left;
  height:120px;
  color:#777777;
  text-align:right;
  font-size:16pt;
}

.header .headLeft .shelfHead{
  width:336px;
  height:120px;
  background-color:#317ee7;
  background-image:url('../ac/logo@2x.png');
  background-repeat:no-repeat;
  background-position:center;
  border-radius:15px;

}

.header .headLeft .shelfHead .shelfName{
  visibility:hidden;
}

.header .headRight .blank{
  color:#999999;
}

.middle{
  background-color:#317EE7;
  height:80px;
  line-height:80px;
  font-size:18pt;
  min-width:950px;
  padding-left:100px;
  clear:both;
  z-index:2;
  zoom:1;
}

.middle li{
    padding-top:2px;
    margin-right:30x;
    float:left;
}

.middle li a{
    color:#FFFFFF;
    padding:0 15px;
    height:80px;
    line-height:80px;
    display:block;
    -webkit-transition:all .2s ease-in;/* Safari 和 Chrome */
    -moz-transition:all .2s ease-in;/* Firefox 4 */
    -o-transition:all .2s ease-in;/* Opera */
    -ms-transition:all .2s ease-in;
    transition:all .2s ease-in;

}

.middle li a:hover,
.middle li .cur a{
    background-color:#5196F4;
}

.middle li a + ul{
    position:absolute;
    z-index:10;
    visibility:hidden;
}

.middle li a + ul > li a,
.middle li.cur ur > li a{
    background-color:rgba( 81, 150, 244, 0.9);
}

.middle li a + ul > li a:hover{
    background-color:rgba( 49, 126, 231, 0.9);
}

.middle ul{
    list-style:none;
     margin: 0 auto;
     position: relative;
}