
<link href="css/header.css" rel="stylesheet">

<div class="head">
    <div class="header">
        <div class="headLeft">
            <h1 class="shelfHead"><a href="#" class="shelfName">TW Bookshelf</a></h1>
        </div>
        <div class="headRight">
            <a href="#" target="_blank" class="blank">设为主页</a>|<a href="#" target="_blank" class="blank">加入收藏</a>|<a href="#"
                                                                                                                     target="_blank" class="blank">帮助说明</a>
        </div>
    </div>
    <div class="middle">
        <ul>
            <li><a class="md" title="home" href="../../index.html">首页</a></li>
            <li>
                <a class="md" href="../../index-more.html" title="book">书架</a>
                <ul>
                    <li><a href="#" title="option1">option1</a></li>
                    <li><a href="#" title="option2">option2</a></li>
                    <li><a href="#" title="option3">option3</a></li>
                </ul>
            </li>
            <li><a class="md" title="home" href="../../pages/book/newBook.html">添加图书</a></li>
        </ul>
    </div>
</div>